.principal {
    padding: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto' 'sans-serif' 18px;
    cursor: pointer;
    border-radius: 10px;
    }

.cont {
    margin-left: 120px;
}
    
.principal:hover{
    background-color: #EA1D2C
}